:root{
    font-size: 16px;
    --text-primary: black;
    --text-secondary: white;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 1s;
    --drawer-colour: rgba(26, 146, 211, 1);
    --drawer-width: clamp(210px, 22vw, 325px);
    --nav-bg-1: #f8f8f8;
    --nav-colour-1: #c9c9c9;
    --nav-colour-2: #62daff6e;
    --blue-1: #084c61;
    --content-grey: rgba(235, 235, 235);
    --transition-notDrawer: margin-left 0.4s ease-in;
    --transition-drawer: width 0.4s ease-in;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
    display: grid;
    grid-template-areas: 
    "drawer nav nav nav"
    "drawer content content content";
    grid-template-rows: 0.8fr 4fr;
    grid-template-columns: 5rem 1fr 1fr 1fr;
}

.drawer{
    grid-area: drawer;
    background-color: var(--drawer-colour);
    width: 5rem;
    position: fixed;
    transition: var(--transition-drawer);
    overflow: hidden;
    height: 100vh;
}

.drawer:hover {
    width: var(--drawer-width);
}

.drawer:hover > .menuItem > h1 {
    display: inline;
}

.menuItem > h1 {
    display: none;
    margin-left: 5%;
}

.drawer > div:not(:first-child) > * {
    padding: 1vw 0.1vw 0.1vw 0vw;
    font-size: calc(20px + 0.2vw);
    padding-left: 20px;
}

.drawer > div:not(:first-child) > img {
    width: calc(20px + 0.5vw);
    height: calc(20px + 0.5vw);
}

.menuItem{
    color: var(--text-secondary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.menuItem > * {
    cursor: pointer;
}

.navbar{
    grid-area: nav;
}

.content{
    grid-area: content;
}